services:
  pet-app:
    build: .
    container_name: pet-assistant
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    command: ["npm", "start"]
